<div id="map" style='width: 800px; height: 400px;'></div>

<script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 33.7550, lng: -84.3900},
    zoom: 8
  });

  var coords = <%= @assignee_coords_array.to_json.html_safe %>
  // var myLatLng = {lat: 33.8459, lng: -84.3619};
  console.log(coords);

      // var marker = new google.maps.Marker({
      //   position: myLatLng,
      //   map: map,
      //   title: 'Marcus'
      // });

  var infoWindow = new google.maps.InfoWindow({map: map});


    for (var i = 0; i < coords.length; i++) {
        var data = coords[i];
        var myLatlng = new google.maps.LatLng(data.lat, data.lng);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: data.name,
            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
        });
        // marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')

        //Attach click event to the marker.
        // (function (marker, data) {
        //     google.maps.event.addListener(marker, "click", function (e) {
        //         //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
        //         infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
        //         infoWindow.open(map, marker);
        //     });
        // })(marker, data);
    }



  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('You are here Schmitty!');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}

    </script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMxa7ucqwX08z6wLjiuAj_YdCtTnXjWYY&signed_in=true&callback=initMap"
        async defer>
    </script>