<form class="row" role="search">
  <div class="form-group col-md-12">
    <input type="text" id="pac-input" class="form-control" placeholder="Search">
  </div>
</form>

<div id="map" style='width: 800px; height: 400px;'></div>

<script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.

  function initMap() {
    var pos;
    var mapOptions = {
      center: pos,
      zoom: 15,
      disableDefaultUI: true,
      styles: [{"elementType":"geometry","stylers":[{"hue":"#ff4400"},{"saturation":-68},{"lightness":-4},{"gamma":0.72}]},{"featureType":"road","elementType":"labels.icon"},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"hue":"#0077ff"},{"gamma":3.1}]},{"featureType":"water","stylers":[{"hue":"#00ccff"},{"gamma":0.44},{"saturation":-33}]},{"featureType":"poi.park","stylers":[{"hue":"#44ff00"},{"saturation":-23}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"hue":"#007fff"},{"gamma":0.77},{"saturation":65},{"lightness":99}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"gamma":0.11},{"weight":5.6},{"saturation":99},{"hue":"#0091ff"},{"lightness":-86}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"lightness":-48},{"hue":"#ff5e00"},{"gamma":1.2},{"saturation":-23}]},{"featureType":"transit","elementType":"labels.text.stroke","stylers":[{"saturation":-64},{"hue":"#ff9100"},{"lightness":16},{"gamma":0.47},{"weight":2.7}]}]
    };

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));

    // Create the autocomplete helper, and associate it with
  // an HTML text input box.
      var autocomplete = new google.maps.places.Autocomplete(input);

      autocomplete.bindTo('bounds', map);

      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      var infowindow = new google.maps.InfoWindow();
      var marker = new google.maps.Marker({
        map: map
      });
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map, marker);
      });

      // Get the full place details when the user selects a place from the
      // list of suggestions.
      google.maps.event.addListener(autocomplete, 'place_changed', function() {
        infowindow.close();
        var place = autocomplete.getPlace();
        console.log(place);

        $('#todoAddress').val(place.address_components[0].long_name + place.address_components[1].long_name );
        $('#todoCity').val(place.address_components[2].long_name);
        $('#todoState').val(place.address_components[3].short_name);
        $('#todoBusinessName').val(place.name);

        if (!place.geometry) {
          return;
        }

        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(14);
        }

        // Set the position of the marker using the place ID and location.
        marker.setPlace(/** @type {!google.maps.Place} */ ({
          placeId: place.place_id,
          location: place.geometry.location
        }));
        marker.setVisible(true);

        infowindow.setContent('<div style="color:black"><strong>' + place.name + '</strong><br>' + place.formatted_address + '</div>');
        infowindow.open(map, marker);
      });

   
    var infoWindowCurrent = new google.maps.InfoWindow({map: map});
    

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        infoWindowCurrent.setPosition(pos);
        infoWindowCurrent.setContent("<div style = 'width:50px;min-height:10px;color:black'>Here you are</div>");
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindowCurrent, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindowCurrent, map.getCenter());
    }

  } //end of initMap function

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
  }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMxa7ucqwX08z6wLjiuAj_YdCtTnXjWYY&signed_in=true&callback=initMap&libraries=places"
  async defer>
</script>
